@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
    font-size: small;
}
.dom_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.header {
	width: 100%;
	float: left;
	height: 50px;
	line-height: 50px;
}
.left_elem {
	float: left;
	width: auto;
	margin: 0px 20px;
}
.content_wrapper, .tracker_wrapper {
	float: left;
	width: 100%;
	background-color: gray;
	height: calc(100% - 50px);
	position: relative
}
.form_elem select {
	height: 30px;
	margin: 10px 0px;
	border: none;
	outline: none;
	line-height: 30px;
	border: 1px solid cornflowerblue;
}
.form_elem select:hover {
	outline: #ddd solid 1px;
}
.filter_container.overlay, .tracker_container.overlay {
	position: absolute;
	right: 20px;
	top: 50px;

}
.current_ledgents {
	position: absolute;
	left: 20px;
	bottom: 50px;
    width: 230px;
    height: auto;
	line-height: 35px;
}

.filter_container, .tracker_container {
	background-color: #ccc;
	opacity: 0.8;
}
.node_title {
	color: #555;
	cursor: pointer;
}
.active .node_title {
	font-weight: bold;
	color: #000;
}
.tracker_container.overlay {
	width: 250px;
}
ul.filter_list {
	list-style: none;
	padding: 10px;
	opacity: 1;
}
.node_options > ul {
	list-style: none;
}
.indicator {
	width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}
.indicator ~ span {
	font-weight: bold;
}
.indicator.grn {
	background-color: #70AD47;
}
.indicator.ylo {
	background-color: #ffff00;
}
.indicator.red {
	background-color: #ff0000;
}

.indicator.grn1 {
	background-color: #ccc;
}
.indicator.ylo1 {
	background-color: #ccc;
}
.indicator.red1 {
	background-color: #ccc;
}

ul.filter_list > li {
	min-height: 35px;
	line-height: 35px;
}
ul.filter_list > li.li_header {
	font-weight: bold;
}
ul.filter_list > li > input {
	margin-right: 20px;
}
.nodes input {
	margin-right: 10px;
}
.overlay.slider_controller {
	position: absolute;
	left: 10px;
    top: 100px;
}

.con_node:first-child {
	width: 200px;
}
.con_node {
	width: 100px;
	background: #146CB5;
	color: #ddd;
	text-align: center;
	opacity: 0.9;
	line-height: 40px;
	margin: 1px;
	font-size: 14px;
	margin-top: 10px;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#map_wrapper, #tracker_map_wrapper {
	width: 100%;
	height: 100%;
}
.map_logo	{
	width: 80px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.img-logo {
	width: 100%
}
.overview_sign, .logout {
	float: left;
    margin-left: 50px;
    background: gray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 1;
    width: 150px;
    margin-top: 5px;
	cursor: default;
}
.li_header {
	background: #146CB5;
	text-align: center;
	color: #ddd;
}

/************************************* Common CSS Begin *****************************************/
.home .tracker_wrapper, .tracker .content_wrapper,
.home .inverter_wrapper, .tracker .inverter_wrapper
.inverter .tracker_wrapper, .inverter .content_wrapper,
.inverter .inverter_btn_wrapper, .inverter .Back_Button,
.tracker_container, .node_options, .current_ledgents .home .back_to_tracker,
.tracker .back_to_tracker, .tracker .current_ledgents, .current_ledgents{
	display: none;
}
.tracker .tracker_wrapper, .home .content_wrapper, .inverter .inverter_wrapper,
.tracker .inverter_btn_wrapper, .tracker .Back_Button,
.inverter .tracker_container, .active .node_options, .current_ledgents .node_options, inverter .back_to_tracker {
	display: block;
}
/************************************* Common CSS End *****************************************/

/************************************* Overpage Start *****************************************/
.button {
		position: absolute;
	right: 20px;
	top: 187px;
    font-weight: bold;
    background-color: #146CB5;
    border: none;
    color: #ddd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:0px;

}

.button1{
    position: absolute;
	right: 1%;
	top: 40%;
	width:140px;
    font-weight: bold;
    background-color: #146CB5;
    border: none;
    color: #ddd;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1:focus {
  outline: none;
}

.summarytable {
	top: 80px;
    font-size: 16px;
    left: 12px;
}

.summaryclose {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
    padding: 1px 4px;
    background-color: cadetblue;
	cursor: pointer;
}

.summaryclose:hover {
	background-color: #146cb5;
}


/************************************* Overview End *****************************************/

/************************************* Tracker Page CSS Begin *****************************************/
#project_tracker_page {
	width: 100px;
	top: 50px;
    position: absolute;
    right: 20px;
}
#inv_track_btn {
	width: 100px;
	top: 50px;
    position: absolute;
    left: 20px;
}
.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    min-width: 90px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
}

.dropdown-content .oclick{

    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
    overflow: auto;
	line-height: 30px;
}

.dropdown-content .oclick:hover {background-color: #ddd; overflow: auto;}

.dropdown:hover .dropdown-content {
	display: block;
	overflow-y: scroll;
	max-height: 300px;
	min-width: 100px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.back_to_tracker{
    left: 130px;
    position: absolute;
    top: 100px;
	}
/************************************* Tracker Page CSS End *****************************************/
/************************************* Header Starts *****************************************/
.logout.con_node {
    width: 80px;
    cursor: pointer;
    line-height: 30px;
    float: right;
    margin-right: 20px;
}
.map_title, .map_location {
    font-size: 12px;
    height: 50%;
    line-height: 200%;
    text-align: center;
}
#userName {
	font-size: large;
    font-family: "Verdana";
    text-transform: capitalize;
    color: #464646;
}
/************************************* Header End *****************************************/


/************************************* Data Table starts *****************************************/

.table-wrap{
    margin-left: 10px;
    margin-top: 150px;
    font-family: 'Montserrat';
    width: 440px;
    background-color: #146CB5;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
}
.table-heading{
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
    border-radius: 3px;
    margin: 0px auto;
    width: 92%;
    position: relative;
    top: -28px;
}

.table-wrap .t-header{
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    padding: 17px 0px;
}
.table-wrap .t-header h4{
    color: #ffffff;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 5px;
}
.table-wrap .t-header span{
    color: rgba(255, 255, 255, 0.62);
    margin-left: 15px;
}
.table-wrap .data-table{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.table-wrap .data-table td, .table-wrap .data-table th{
    padding: 2px 0px;
    text-align: left;
    font-weight: 100;
}
.table-wrap .data-table th{
    background-color: #ffffff,
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.table-wrap .data-table td{
    color: #ffffff;
}
.table-wrap .data-table tbody tr:hover{
    /*background-color: #ffa21a;*/
    cursor: default;
}
.table-wrap .data-table .t-heading{
    font-size: 17px;
    color: #fff;
    padding: 4px 0px;
    font-weight: bold;
}
/*.table-wrap .data-table .t-heading:hover{
    color: #fff;
}*/
.table-wrap .data-table .t-value {
    text-align: center;
    font-size: 14px;
}


.s-color {
	width: 10px;
    border: 1px solid;
    height: 10px;
    float: left;
    margin-top: 1px;
}
.s-value {
	padding-left: 20px;
}

.new:hover {
	background-color: #ffa21a;
	cursor: pointer;
}
.old:hover {
	background-color: #ffa21a;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.ROI_box.overlay,.tracker_container.overlay {
    position: absolute;
    right: 2%;
    top: 13%;
    width: 170px;
    height: 200px;
    }
.Plot_box.overlay,.tracker_container.overlay{
    position: absolute;
    left:2%;
    top:13%;
    width: 180px;
    height: 350px;
 }
   .ROI_box,.tracker_container{
    background-color: white;
    opacity: 0.8;
    font-size: 35px;
}
.Plot_box,.tracker_container{
    background-color: white;
    opacity: 0.8;
    font-size: 35px;
    }

.button1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -5px;
    right: 105%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.button1:hover .tooltiptext {
    visibility: visible;
}

.button1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -5px;
    left: 105%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.button1:hover .tooltiptext1 {
    visibility: visible;
}

.legend.overlay,.tracker_container.overlay {
    position: absolute;
    left:20px;
    top: 700px;
    width: 270px;
    height: 200px;
    }

    .legend,.tracker_container{
    background-color: none;
    opacity: 0.8;
}
/************************************* Data Table Ends *****************************************/

.dom_container.home .content_wrapper .overlay.slider_controller
