*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-image: url(../images/bg.jpg);
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #0a0a46;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	margin: 25px auto;
    max-width: 455px;
}

.login-form {
    margin: 25px auto;
    max-width: 455px;
}
form[role=login]{
	font: 16px/2.1em sans-serif;
    color: #000;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 30px 40px;
	display: inline-block;
    max-width: 100%;
	font-weight: normal;
    margin: 0;
}

.img-logo
{
	border:none;
    display: inline-block;
    width: 350px	;
    max-width: 100%;
    height: auto;
    padding: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
img {
    vertical-align: middle;
}
.img-thumbnail{
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form[role=login] input, form[role=login] button {
    font-size: 16px;
    margin: 5px 0;
}
label {
	display: inline-block;
	max-width: 100%;
}

.submitButton {
    background-color: #0060AF;
    color: #FFF;
    text-align: center;
    width: 9%;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: #146CB5;
    margin-top: 20px;
    width: 175px;
	height: 55px;	
}

.submitButton:hover
{
	background-color: #0060AF;
	box-shadow: 0 35px 35px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	text-decoration: none;
}